<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
    </title>
    <link href="/bootstrap.min.css"
    rel="stylesheet">
    <script src="/angular.min.js"></script>
  </head>

  <body ng-app="myApp" ng-controller="siteCtrl">

    <h3>
      &nbsp; &nbsp;欢迎回家，{{name}}
    </h3>
    <script src="/jquery.min.js"
    >
    </script>
    <script src="/bootstrap.min.js"
    >
    </script>
    <div class="container">
      <span class="label label-default"></span>
      <label>
        设备管理
      </label>
      <p ng-if="!device.length" align:center>您还没有设备哦</p> <!--没有笔记时显示-->
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="x in device">
          <div>
            {{x.name}}
            <div>
              <br>
            </div>
          </div>
          <div>
          </div>
          <button type="submit" class="btn btn-danger" ng-click="close(x)">关闭</button>
          <span class="badge">{{x.status}}</span>
          &nbsp;&nbsp;
          <button type="submit"  class="btn btn-success" ng-click="open(x)">打开</button>
          &nbsp;&nbsp;
          <a  href="deviceinfo.html#{{x.mac}}" class="btn btn-info">详情</a>
        </li>
      </ul>
      <div class="form-group">
      </div>
    </div>
<script>
var app = angular.module('myApp', []);

app.controller('siteCtrl', function($scope, $http, $location,$window) {
//	$scope.$on('locationChangeSuccess', $window.location.reload());
        console.log($location);
        console.log('hash:'+$location.hash());
        $http({
                method: 'GET',
                url: '/getuserbyuid/' + $location.hash()
        }).then(function successCallback(response) {
                        $scope.name = response.data.name;
                        console.log(response);
                }, function errorCallback(response) {
                        console.log('get err');
                        // 请求失败执行代码
        });

	var getdevice = function(){
	$http({
                method: 'GET',
                url: '/getdevicebyuser/'+ $location.hash().split('?',1)
        }).then(function successCallback(response) {
		//= JSON.parse(response);
	                 $scope.device = response.data;
			 console.log(response);
                }, function errorCallback(response) {
                        console.log('get err');
                        // 请求失败执行代码
        });
	}
	getdevice();	

        $scope.open = function(x){
                console.log(x.mac);
                $http({
                method: 'POST',
                url: '/sendbymac/',
                data:{mac:x.mac,do:'on',num:'1'}
                 }).then(function successCallback(response) {
	                getdevice();
			console.log(response);
                        }, function errorCallback(response) {
                        console.log('get err');
                        // 请求失败执行代码
                        }
                );

        };

        $scope.close = function(x){
                console.log(x.mac);
                $http({
                method: 'POST',
                url: '/sendbymac/',
                data:{mac:x.mac,do:'off',num:'1'}
                 }).then(function successCallback(response) {
                        getdevice();
                        console.log(response);
                        }, function errorCallback(response) {
                        console.log('get err');
                        // 请求失败执行代码
                        }
                );

        };


});
</script>

  </body>

</html>
