<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
    </title>
    <link href="/bootstrap.min.css"
    rel="stylesheet">
    <script src="/angular.min.js"></script>
    <script src="/angular-cookies.js"></script>
  </head>

  <body ng-app="myApp" ng-controller="siteCtrl">
<ol class="breadcrumb">
    <li><a ng-click="goto('device')" class="active">设备管理</a></li>
    <li><a ng-click="goto('polic')" >场景管理</a></li>
    <li><a ng-click="goto('gateway')">网关管理</a></li>
    <li><a ng-click="goto('user')" >用户管理</a></li>    
</ol>
    <h3>
      &nbsp; &nbsp;欢迎回家，{{name}}
    </h3>
    <script src="/jquery.min.js"
    >
    </script>
    <script src="/bootstrap.min.js"
    >
    </script>
    <div class="container text-center">
      <span class="label label-default"></span>
      <label class="pull-left">
        设备详情&nbsp;
      </label>
      <div ng-if="!rightuser">
        <label>
            对不起，您没有权限查看此设备！
          </label>
      </div>
      <div ng-if="rightuser">
        <b><br></b>
        <ul class="list-group">
        </ul>
        <div class="form-group">
        </div>
        <div class="form-group">
          <label class="pull-left">
            别名
          </label>
          <input type="text" class="form-control" ng-model="device.name">
        </div>
        <button type="submit" class="btn btn-success" ng-click="save()">
          保存别名
        </button>
        <div class="form-group">
          <label class="pull-left">
            mac地址
          </label>
          <input type="text" class="form-control" ng-model="device.mac" ng-disabled="true">
        </div>
        <div class="form-group">
          <label class="pull-left">
            短地址
          </label>
          <input type="text" class="form-control" ng-model="device.addr" ng-disabled="true">
        </div>
        <div class="form-group">
          <label class="pull-left">
            注册时间
          </label>
          <input type="text" class="form-control" ng-model = "device.creatTime" ng-disabled="true">
        </div>
        <div class="form-group">
          <label class="pull-left">
            类型
          </label>
          <input type="text" class="form-control" ng-model = "device.chinesetype" ng-disabled="true">
        </div>
        <div class="form-group">
          <label class="pull-left">
            所属网关
          </label>
          <input type="text" class="form-control" ng-model = "gateway" ng-disabled="true">
        </div>
        <button type="submit" class="btn btn-default" ng-click="goback2()" >返回</button>
        <button type="submit" class="btn btn-danger pull-right" ng-click="del()">
          删除设备
        </button>
        <button type="submit" class="btn pull-left btn-warning" ng-click="finddevice()">
          寻找设备
        </button>
      </div>
    </div>
<script>
var app = angular.module('myApp', ['ngCookies']);
/*
app.config(['$locationProvider', function($locationProvider) {  
         // $locationProvider.html5Mode(true);  
         $locationProvider.html5Mode({
          enabled: true,
          requireBase: false
        });
}]);
*/
app.controller('siteCtrl', function($cookieStore,$scope, $http, $location,$window) {
    var usercookies = $cookieStore.get("usercookies");
    if(usercookies == 'undefined'){
      $cookieStore.remove("usercookies");
    }
    var uid;
    $scope.rightuser = false;
    console.log('usercookies:'+usercookies);

    uid = usercookies;
    $http({
            method: 'GET',
            url: '/getuserbyuid/' + usercookies
    }).then(function successCallback(response) {
            $scope.name = response.data.name;
            //console.log(response);
            $http({
                method: 'GET',
                url: '/getdeviceinfo/'+ $location.hash().split('?',1)
            }).then(function successCallback(response) {
            //= JSON.parse(response);
                if(response.data.uid == uid){
                    $scope.rightuser = true;
                    $scope.device = response.data;
                    $scope.gateway = response.data.gateway;
                    console.log('right user: '+response);
                }else{
                    $scope.rightuser = false;
                }
            }, function errorCallback(response) {
                console.log('get err');
                // 请求失败执行代码
            });
                console.log('getuserbycookie : '+usercookies);
    }, function errorCallback(response) {
                    console.log('get err');
                    // 请求失败执行代码
    });
    //getdevice(uid);
      
      $scope.finddevice = function(){
      //console.log(x.mac);
      var action = "Reverse";
      if($scope.device.type == '2_SwitchLightPanel' || $scope.device.type == '3_SwitchLightPanel' || $scope.device.type == '2_CurtainPanel'){
          action = '1Reverse';        
      }

      $http({
      method: 'POST',
      url: '/sendbymac/',
      data:{mac:$scope.device.mac,do:action}
       }).then(function successCallback(response) {
        //getdevice();
        console.log(response);
            }, function errorCallback(response) {
            console.log('get err');
            // 请求失败执行代码
            }
      );
      };
      //====


/*
$http({
                method: 'GET',
                url: '/getgatewaybydevice/'+ $location.hash().split('?',1)
        }).then(function successCallback(response) {
                //= JSON.parse(response);
                         $scope.gateway = response.data.gateway;
                        $scope.name = response.data.name; 
			uid = response.data.uid;
			console.log(response);
                }, function errorCallback(response) {
                        console.log('get err');
                        // 请求失败执行代码
        });
*/

	$scope.save = function(){
                $http({
                method: 'POST',
                url: '/setdevicebymac/',
                data:{'mac':$location.hash().split('?',1),'name':$scope.device.name}
                 }).then(function successCallback(response) {
                        console.log(response);
                        }, function errorCallback(response) {
                        console.log('setdevicebymac return err');
                        // 请求失败执行代码

                        });

         };

$scope.goto = function(name){
          $window.location.href= name+".html";
          console.log("goto "+name);
      };

  $scope.goback2 = function(){
      $window.location.href="device.html";
      console.log("goback");
  };

	$scope.del = function(){
                $http({
                method: 'POST',
                url: '/removedevicebymac/',
                data:{'mac':$location.hash().split('?',1)}
                 }).then(function successCallback(response) {
                        console.log(response);
			$window.location.href="device.html";			
                        }, function errorCallback(response) {
                        console.log('setdevicebymac return err');
                        // 请求失败执行代码

                        });

         };

});


</script>

  </body>

</html>
