<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
    </title>
    <link href="/bootstrap.min.css"
    rel="stylesheet">
    <script src="/angular.min.js"></script>
  </head>

  <body ng-app="myApp" ng-controller="siteCtrl">

    <h3>
      &nbsp; &nbsp;欢迎回家，{{name}}
    </h3>
    <script src="/jquery.min.js"
    >
    </script>
    <script src="/bootstrap.min.js"
    >
    </script>
    <div class="container text-center">
      <span class="label label-default"></span>
      <label class="pull-left">
        设备详情&nbsp;
      </label>
      <div>
        <b><br></b>
        <ul class="list-group">
        </ul>
        <div class="form-group">
        </div>
        <div class="form-group">
          <label class="pull-left">
            别名
          </label>
          <input type="text" class="form-control" ng-model="device.name">
        </div>
        <button type="submit" class="btn btn-success" ng-click="save()">
          保存别名
        </button>
        <div class="form-group">
          <label class="pull-left">
            mac地址
          </label>
          <input type="text" class="form-control" ng-model="device.mac">
        </div>
        <div class="form-group">
          <label class="pull-left">
            短地址
          </label>
          <input type="text" class="form-control" ng-model="device.addr">
        </div>
        <div class="form-group">
          <label class="pull-left">
            注册时间
          </label>
          <input type="text" class="form-control" ng-model = "device.creatTime">
        </div>
        <div class="form-group">
          <label class="pull-left">
            类型
          </label>
          <input type="text" class="form-control" ng-model = "device.chinesetype">
        </div>
        <div class="form-group">
          <label class="pull-left">
            所属网关
          </label>
          <input type="text" class="form-control" ng-model = "gateway">
        </div>
        <button type="submit" class="btn btn-default" ng-click="goback2()" >返回</button>
        <button type="submit" class="btn btn-danger pull-right" ng-click="del()">
          删除设备
        </button>
        <button type="submit" class="btn pull-left btn-warning" ng-click="find()">
          寻找设备
        </button>
      </div>
    </div>
<script>
var app = angular.module('myApp', []);

app.controller('siteCtrl', function($scope, $http, $location,$window) {
        console.log($location);
        console.log('hash:'+$location.hash());
var uid;
$http({
                method: 'GET',
                url: '/getdeviceinfo/'+ $location.hash().split('?',1)
        }).then(function successCallback(response) {
                //= JSON.parse(response);
                         $scope.device = response.data;
                         console.log(response);
                }, function errorCallback(response) {
                        console.log('get err');
                        // 请求失败执行代码
        });


$http({
                method: 'GET',
                url: '/getgatewaybydevice/'+ $location.hash().split('?',1)
        }).then(function successCallback(response) {
                //= JSON.parse(response);
                         $scope.gateway = response.data.gateway;
                        $scope.name = response.data.name; 
			uid = response.data.uid;
			console.log(response);
                }, function errorCallback(response) {
                        console.log('get err');
                        // 请求失败执行代码
        });


	$scope.save = function(){
                $http({
                method: 'POST',
                url: '/setdevicebymac/',
                data:{'mac':$location.hash().split('?',1),'name':$scope.device.name}
                 }).then(function successCallback(response) {
                        console.log(response);
                        }, function errorCallback(response) {
                        console.log('setdevicebymac return err');
                        // 请求失败执行代码

                        });

         };

	$scope.goback2 = function(){
           // 请求失败执行代码
	//	$window.history.go(-1);
		$window.location.href="device.html#"+uid;
		console.log("goback");
         };

	$scope.del = function(){
                $http({
                method: 'POST',
                url: '/removedevicebymac/',
                data:{'mac':$location.hash().split('?',1)}
                 }).then(function successCallback(response) {
                        console.log(response);
			$window.location.href="device.html#"+uid;			
                        }, function errorCallback(response) {
                        console.log('setdevicebymac return err');
                        // 请求失败执行代码

                        });

         };

});


</script>

  </body>

</html>
