<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
    </title>
    <link href="/bootstrap.min.css"
    rel="stylesheet">
    <script src="/angular.min.js"></script>
  </head>

  <body ng-app="myApp" ng-controller="siteCtrl">

    <h3>
      &nbsp; &nbsp;欢迎回家，{{name}}
    </h3>
    <script src="/jquery.min.js"
    >
    </script>
    <script src="/bootstrap.min.js"
    >
    </script>
    <div class="container">
      <span class="label label-default"></span>
      <label>
        设备管理
      </label>
      <p ng-if="!device.length" align:center>您还没有设备哦</p> <!--没有笔记时显示-->
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="x in device">
          <div>
            {{x.name}}
            <div>
              <br>
            </div>
          </div>
          <div>
          </div>
          <a href="#" class="btn btn-danger">关闭</a>
          <span class="badge">关</span>
          &nbsp;&nbsp;
          <a href="#" class="btn btn-success">打开</a>
          &nbsp;&nbsp;
          <a href="screen-0665b1a04c.html" class="btn btn-info">详情</a>
        </li>
      </ul>
      <div class="form-group">
      </div>
    </div>
<script>
var app = angular.module('myApp', []);

app.controller('siteCtrl', function($scope, $http, $location) {
        console.log($location);
        console.log('hash:'+$location.hash());
        $http({
                method: 'GET',
                url: '/getid/' + $location.hash()
        }).then(function successCallback(response) {
                        $scope.name = response.data.name;
                        console.log(response);
                }, function errorCallback(response) {
                        console.log('get err');
                        // 请求失败执行代码
        });

	$http({
                method: 'GET',
                url: '/getdevicebyuser/'+ $location.hash().split('?',1)
        }).then(function successCallback(response) {
		//= JSON.parse(response);
	                 $scope.device = response.data;
			 console.log(response);
                }, function errorCallback(response) {
                        console.log('get err');
                        // 请求失败执行代码
        });

});
</script>

  </body>

</html>
