<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
    </title>
    <link href="/bootstrap.min.css"
    rel="stylesheet">
    <script src="/angular.min.js"></script>
    <script src="/angular-cookies.js"></script>
  </head>

  <body ng-app="myApp" ng-controller="siteCtrl">

    <h3>
      &nbsp; &nbsp;欢迎回家，{{name}}
    </h3>
    <script src="/jquery.min.js"
    >
    </script>
    <script src="/bootstrap.min.js"
    >
    </script>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">添加网关</h4>
            </div>
              <div class="modal-body">
	        <input type="text" class="form-control"  placeholder="请输入网关标识码" ng-model="addmac">
              <p></p>
	        <input type="text" class="form-control"  placeholder="请输入网关别名" ng-model="addname">
	    </div>
            <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" ng-click = "add()">添加</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<div class="modal fade" id="myModaladddevice" tabindex="-1" role="dialog" aria-labelledby="myModalLabeladddevice" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabeladddevice">添加设备</h4>
            </div>
              <div class="modal-body">
        <p ng-if="!unregdevice.length" align:center>还没有设备加入哦~</p> <!--没有笔记时显示-->
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="y in unregdevice">
            <div>
              <div class="text-left">
                <input type="text" class="form-control" placeholder="请输入设备别名" ng-model="y.name">
              </div>
              <div class="text-left">
                {{y.mac}}
              </div>
              <div class="text-left">
                设备类型：{{y.type}}
              </div>
              <div class="text-left">
		<button class="btn btn-success btn-xs" ng-click="savedevice(y)">注册</button>
		<button class="btn btn-danger btn-xs" ng-click="deldevice(y)">删除</button>
    <button class="btn btn-primary btn-xs" ng-click="finddevice(y)">寻找</button>
              </div>

            </div>
            <div>
            </div>
            <div>
              <br>
            </div>
          </li>
        </ul>
            
	      </div>
            <div class="modal-footer">
		<button type="button" class="btn btn-primary" ng-click = "join(lastgateway)">开始添加</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

    <div class="container text-center">
      <span class="label label-default"></span>
      <label class="pull-left">
        网关管理
      </label>
      <div>
        <b><br></b>
	<p ng-if="!device.length" align:center>您还没有添加网关哦</p> <!--没有笔记时显示-->
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="x in device">
            <div>
              <div class="text-left">
                <input type="text" class="form-control" ng-model="x.name">
              </div>
              <div class="text-left">
                {{x.mac}}
              </div>
              <div class="text-left">
                注册时间：{{x.createTime}}
              </div>
              <div class="text-left">
                状态：{{x.online}}
              </div>
            </div>
            <div>
            </div>
            <div>
              <br>
            </div>
            <button data-toggle="modal" data-target="#myModaladddevice" class="btn btn-success btn-xs" ng-click="adddevice(x)">添加设备</button>
            &nbsp;
           <button class="btn btn-success btn-xs"  ng-click="gotodevice(x.mac)" >子设备</button>
            &nbsp;
             <a class="btn btn-info btn-xs" ng-click="save(x)">修改别名</a>
            &nbsp;
            <button class="btn btn-danger btn-xs" ng-click="del(x)">删除</button>
          </li>
        </ul>
        <button data-toggle="modal" data-target="#myModal" class="btn btn-default">添加网关</button>
        <div class="form-group">
        </div>
      </div>
    </div>
    <hr>
<script>

var app = angular.module('myApp', ['ngCookies']);

app.config(['$locationProvider', function($locationProvider) {  
         // $locationProvider.html5Mode(true);  
         $locationProvider.html5Mode({
          enabled: true,
          requireBase: false
        });
}]);

app.controller('siteCtrl', function($cookieStore,$scope, $http, $location,$window,$timeout,$interval) {
	var lastgateway;
	var timer;
	var lastunregdevice={};
        
  var getgateway = function(uid){
      $http({
              method: 'GET',
              url: '/getgatewaybyuser/'+ uid
      }).then(function successCallback(response) {
              //= JSON.parse(response);
                       $scope.device = response.data;
                       console.log(response);
              }, function errorCallback(response) {
                      console.log('get err');
                      // 请求失败执行代码
      });
  }
     var usercookies = $cookieStore.get("usercookies");
    if(usercookies == 'undefined'){
      $cookieStore.remove("usercookies");
    }
    var uid;
    console.log('usercookies:'+usercookies);

    

    if(usercookies){
        uid = usercookies;
        $http({
                method: 'GET',
                url: '/getuserbyuid/' + usercookies
        }).then(function successCallback(response) {
                        $scope.name = response.data.name;
                        //console.log(response);
                        console.log('getuserbycookie : '+usercookies);
                }, function errorCallback(response) {
                        console.log('get err');
                        // 请求失败执行代码
        });
        getgateway(uid);
      }else{
        $http({
                method: 'GET',
                url: '/getuserbycode/' + $location.search().code
        }).then(function successCallback(response) {
                        $scope.name = response.data.name;
                        console.log('getbycode: '+response.data.uid);
                        uid = response.data.uid;
                        getgateway(uid);
                        $cookieStore.put("usercookies",response.data.uid);
                }, function errorCallback(response) {
                        console.log('get err');
                        // 请求失败执行代码
        });
        
      }

    $scope.gotodevice = function(mac){
        $window.location.href="device.html?gateway="+mac;
        console.log("gotogatewaydevice");
    };


    $scope.deldevice = function(y){
      $http({
          method: 'POST',
          url: '/removedevicebymac/',
          data:{'mac':y.mac}
      }).then(function successCallback(response) {
          console.log(response);
          }, function errorCallback(response) {
          console.log('setdevicebymac return err');
      });

      $timeout(function(){
      getdevice(lastgateway);
      },500);
    };
        
    $scope.savedevice = function(y){
      $http({
          method: 'POST',
          url: '/setdevicebymac/',
          data:{'mac':y.mac,'name':y.name}
      }).then(function successCallback(response) {
          console.log(response);
          }, function errorCallback(response) {
          console.log('setdevicebymac return err');
      });

      $timeout(function(){
      getdevice(lastgateway);
      },500);
    };

	$scope.save = function(y){
        console.log(y);
                $http({
                method: 'POST',
                url: '/setgatewaybymac/',
                data:{'mac':y.mac,'name':y.name}
                 }).then(function successCallback(response) {
                        console.log(response);
                        }, function errorCallback(response) {
                        console.log('setgatewaybymac return err');
                        // 请求失败执行代码

                        });

        };

	$scope.add = function(){
                $http({
                method: 'POST',
                url: '/addgatewaybyuid/',
                data:{'mac':$scope.addmac,'name':$scope.addname,'uid':$location.hash().split('?',1)}
                 }).then(function successCallback(response) {
                        console.log(response);
			if(response.data == 'ok'){
				$('#myModal').modal('hide');
				$window.location.reload();
			}else{
				 $scope.addmac = '设备添加失败';	
			}
                        }, function errorCallback(response) {
                        console.log('setgatewaybymac return err');				
                        // 请求失败执行代码
				$scope.addmac = '设备添加失败';

                        });

        };


	$scope.del = function(x){
                $http({
                method: 'POST',
                url: '/removegatewaybyuid/',
                data:{'mac':x.mac,'uid':$location.hash().split('?',1)}
                 }).then(function successCallback(response) {
                        console.log(response);
			$window.location.reload();
                        }, function errorCallback(response) {
                        console.log('setgatewaybymac return err');
                        // 请求失败执行代码

                        });

         };


  $scope.finddevice = function(x){
    console.log(x.mac);
    var action = "Reverse";
    if(x.type == '2_SwitchLightPanel' || x.type == '3_SwitchLightPanel' || x.type == '2_CurtainPanel'){
      switch(no){
        case 1:action = '1Reverse';break;
      }
    }
    $http({
    method: 'POST',
    url: '/sendbymac/',
    data:{mac:x.mac,do:action}
     }).then(function successCallback(response) {
      //getdevice();
      console.log(response);
          }, function errorCallback(response) {
          console.log('get err');
          // 请求失败执行代码
          }
    );
  };

	$scope.adddevice = function(x){
		lastgateway = x;
		getdevice(x);
    
    $http({
        method: 'POST',
        url: '/joinbymac/',
        data:{'mac':x.mac}
    }).then(function successCallback(response) {
        console.log(response);
        }, function errorCallback(response) {
        console.log('joinbymac return err');
        // 请求失败执行代码

    });

		timer=$interval(function(){
			getdevice(lastgateway);
		},5000); 
  };

  $scope.starttimer = function(){
    timer=$interval(function(){
      getdevice(lastgateway);
    },1000); 
  }

	$scope.stoptimer = function(){
    $interval.cancel(timer);
  }

	$scope.$on('destroy',function(){
   		$interval.cancel(timer);
	})  //在控制器里，添加$on函数

	$('#myModaladddevice').on('hidden.bs.modal', function () {
 		console.log('hidden');
		$interval.cancel(timer);// 执行一些动作...
	})

        var getdevice = function(x){
        $http({
		 method: 'POST',
                data:{'mac':x.mac},
                url: '/getunregdevicebygateway/'
        }).then(function successCallback(response) {
                //= JSON.parse(response);
		//	for(var i=0;i<response.data.length;i++){

				if(lastunregdevice.length !=response.data.length){
					lastunregdevice = response.data;
					$scope.unregdevice = response.data;
				}
		//	}
                         console.log(JSON.stringify(lastunregdevice));
                }, function errorCallback(response){ 
                         $scope.unregdivice = null;
			 console.log('get err');
                        // 请求失败执行代码
        });
        }

});
</script>

  </body>

</html>
