<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
    </title>
    <link href="/bootstrap.min.css"
    rel="stylesheet">
    <script src="/angular.min.js"></script>
    <script src="/angular-cookies.js"></script>
  </head>

  <body ng-app="myApp" ng-controller="siteCtrl">
<ol class="breadcrumb">
    <li><a ng-click="goto('device')" class="active">设备管理</a></li>
    <li><a ng-click="goto('polic')" >场景管理</a></li>
    <li><a ng-click="goto('gateway')">网关管理</a></li>
    <li><a ng-click="goto('user')" >用户管理</a></li>    
</ol>
    <h3>
      &nbsp; &nbsp;欢迎回家，{{name}}
    </h3>
    <script src="/jquery.min.js"
    >
    </script>
    <script src="/bootstrap.min.js"
    >
    </script>
    <div class="container text-center">
      <span class="label label-default"></span>
      <label class="pull-left">
        用户管理
      </label>
      <div>
        <label>
          &nbsp;
        </label>
        <ul class="list-group">
        </ul>
        <div class="form-group">
        </div>
        <div class="form-group">
          <label class="pull-left">
            <div>
              昵称&nbsp; &nbsp; &nbsp;
              <br>
            </div>
          </label>
          <input type="text" class="form-control" ng-model="name">
        </div>
        <div class="form-group">
          <label class="pull-left">
            登陆密码
          </label>
          <input type="text" class="form-control" ng-model="password">
        </div>
        <div class="form-group">
          <label class="pull-left">
            手机
          </label>
          <input type="text" class="form-control" ng-model="mobile">
        </div>
        <div class="form-group">
          <label class="pull-left">
            邮箱
          </label>
          <input type="text" class="form-control" ng-model="email">
        </div>
        <button class="btn btn-success text-left" ng-click="save()">保存</a>
      </div>
    </div>
<script>
var app = angular.module('myApp', ['ngCookies']);

app.controller('siteCtrl', function($cookieStore,$window,$scope, $http, $location) {        
	
	 var usercookies = $cookieStore.get("usercookies");
    if(usercookies == 'undefined'){
      $cookieStore.remove("usercookies");
    }
    var uid;
    console.log('usercookies:'+usercookies);

    

    if(usercookies){
        uid = usercookies;
        $http({
                method: 'GET',
                url: '/getuserbyuid/' + usercookies
        }).then(function successCallback(response) {
                        $scope.name = response.data.name;
                        //console.log(response);
                        console.log('getuserbycookie : '+usercookies);
                }, function errorCallback(response) {
                        console.log('get err');
                        // 请求失败执行代码
        });
        //getgateway(uid);
      }else{
        $http({
                method: 'GET',
                url: '/getuserbycode/' + $location.search().code
        }).then(function successCallback(response) {
                        $scope.name = response.data.name;
                        console.log('getbycode: '+response.data.uid);
                        uid = response.data.uid;
                       // getgateway(uid);
                        $cookieStore.put("usercookies",response.data.uid);
                }, function errorCallback(response) {
                        console.log('get err');
                        // 请求失败执行代码
        });
        
      }
	
    $scope.goto = function(name){
        $window.location.href= name+".html";
        console.log("goto "+name);
    };

	$scope.save = function(){
            	console.log($scope.name);
		$http({
                method: 'POST',
                url: '/setuserbyuid/',
		data:{uid:$location.hash().split('?',1),name:$scope.name,mobile:$scope.mobile,password:$scope.password,email:$scope.email}
       		 }).then(function successCallback(response) {
                	console.log(response);
			}, function errorCallback(response) {
                        console.log('get err');
                        // 请求失败执行代码
        		
			});

		};


});
</script>

  </body>

</html>
